# Virtual environment
venv/

# Environment variables
.env

# Raw data files
*.csv
*.zip
*.xlsx
data/raw/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# dbt
medicare_dbt/target/
medicare_dbt/dbt_packages/
medicare_dbt/logs/
logs/